<template lang="pug">

div
	base-dialog(:show="!!error" title="An error occured!" @close="handleError")
		p {{ error }}

	base-dialog(fixed :show="isLoading" title="Authenticating ...")
		base-spinner

	base-card
		form(@submit.prevent="submitForm") 
			.form-control
				label(for="email") E-mail
				input(type="email" id="email" v-model.trim="email")
			.form-control
				label(for="password") Password
				input(type="password" id="password" v-model.trim="password")

			p(v-if="!formIsValid") Please enter a valid email and password (must be at least 6 characters long)!

			base-button {{ submitButtonCaption }}
			base-button(type="button" mode="flat" @click="switchAuthMode") {{ switchModeButtonCaption }}

</template>

<script>
export default {
	data() {
		return {
			email: '',
			password: '',
			formIsValid: true,
			mode: 'login',
			isLoading: false,
			error: null
		}
	},
	methods: {
		async submitForm() {
			this.formIsValid = true

			if(this.email === '' || 
				!this.email.includes('@') ||
				this.password.length < 6
			) {
				this.formIsValid = false
				return
			}

			this.isLoading = true

			try {
				if(this.mode === 'login') {
					await this.$store.dispatch('login', {
						email: this.email,
						password: this.password
					})
				} else {
					await this.$store.dispatch('signUp', {
						email: this.email,
						password: this.password
					})
				}

				const redirectUrl = '/' + (this.$route.query.redirect || 'coaches')

				this.$router.replace(redirectUrl)
				
			} catch (error) {
				this.error = error.message || 'Failed to authenticate!'
			}


			this.isLoading = false
		},
		switchAuthMode() {
			if(this.mode === 'login') {
				this.mode = 'signup'
			} else {
				this.mode = 'login'
			}
		},
		handleError() {
			this.error = null
		}
	},
	computed: {
		submitButtonCaption() {
			if(this.mode === 'login') {
				return 'Login'
			} else {
				return 'Signup'
			}
		},
		switchModeButtonCaption() {
			if(this.mode === 'login') {
				return 'Signup instead'
			} else {
				return 'Login instead'
			}
		}
	}
}
</script>

<style scoped>
form {
  margin: 1rem;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}
</style>