<template lang="pug">

//- one root element for route transitions
div 
	base-dialog(
		:show="!!error" 
		title="An error occured!" 
		@close="handleError"
	)
		p {{ error }}
	
	section 
		base-card
			header 
				h2 Requests Received
	
			base-spinner(v-if="isLoading")
	
			ul(v-else-if="hasRequests && !isLoading")
				request-item(
					v-for="req in receivedRequests"
					:key="req.id"
					:email="req.userEmail"
					:message="req.message"
				)
	
			h3(v-else) You haven't reveived any requests yet! 

</template>

<script>
import RequestItem from '../../components/requests/RequestItem.vue';

export default {
	components: {
		RequestItem
	},
	data() {
		return {
			isLoading: false,
			error: null
		}
	},
	computed: {
		receivedRequests() {
			return this.$store.getters['requests/requests']
		},
		hasRequests() {
			return this.$store.getters['requests/hasRequests']
		}
	},
	methods: {
		async loadRequests() {
			this.isLoading = true

			try {
				await this.$store.dispatch('requests/fetchRequests')
			} catch (error) {
				this.error = error.message || 'Something went wrong!'
			}	

			this.isLoading = false
		},
		handleError() {
			this.error = null
		}
	},
	created() {
		this.loadRequests()
	}
}
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>