<template lang="pug">

//- one root element for route transitions
div 
	section
		base-card
			h2 Register as a coach now!
			coach-form(@save-data="saveData")

</template>

<script>
import CoachForm from '../../components/coaches/CoachForm.vue'

export default {
	components: {
		CoachForm
	},
	methods: {
		saveData(data) {
			this.$store.dispatch('coaches/registerCoach', data)

			this.$router.replace('/coaches') //can't go back to the page 
		}
	}
}
</script>

<style>

</style>