<template lang="pug">

//- one root element for route transitions
div 
	section
		base-card 
			h2 {{ fullName }}
			h3 ${{ rate }}/hour

	section
		base-card
			header
				h2 Interested? Reach out now!
				base-button(link :to="contactLink") Contact
			router-view

	section
		base-card
			base-badge(
				v-for="area in areas"
				:key="area"
				:type="area"
				:title="area"
			)
			p {{ desctiption }}

</template>

<script>
export default {
	props: ['id'],
	data() {
		return {
			selectedCoach: null
		}
	},
	computed: {
		fullName() {
			return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName
		},
		rate() {
			return this.selectedCoach.hourlyRate
		},
		areas() {
			return this.selectedCoach.areas
		},
		description() {
			return this.selectedCoach.description
		},
		contactLink() {
			return this.$route.path + '/' + this.id + '/contact'
		}
	},
	created() {
		this.selectedCoach = this.$store.getters['coaches/coaches'].find(
			coach => coach.id === this.id
		)
	}
}
</script>