<template lang="pug">

//- one root element for route transitions
div 
	base-dialog(
		:show="!!error" 
		title="An error occured!" 
		@close="handleError"
	)
		p {{ error }}
	
	section
		coach-filter(@change-filter="setFilters")
	
	section 
		base-card
			.controls
				base-button(mode="outline" @click="loadCoaches(true)") Refresh
				base-button(link to="/auth?redirect=register" v-if="!isAuthenticated") Login to register as a Coach
				base-button(link to="/register" v-if="isAuthenticated && !isCoach && !isLoading") Register as Coach
	
			div(v-if="isLoading")
				base-spinner
	
			ul(v-else-if="hasCoaches")
				coach-item(
					v-for="coach in filteredCoaches"
					:key="coach.id"
					:id="coach.id"
					:firstName="coach.firstName"
					:lastName="coach.lastName"
					:rate="coach.hourlyRate"
					:areas="coach.areas"
				)
	
			h3(v-else) No Coaches Found.

</template>

<script>
import CoachItem from '../../components/coaches/CoachItem.vue'
import CoachFilter from '../../components/coaches/CoachFilter.vue'

export default {
	components: {
		CoachItem,
		CoachFilter
	},
	data() {
		return {
			isLoading: false,
			error: null,
			activeFilters: {
				frontend: true,
				backend: true,
				career: true
			}
		}
	},
	computed: {
		isAuthenticated() {
			return this.$store.getters.isAuthenticated
		},
		isCoach() {
			return this.$store.getters['coaches/isCoach']
		},
		filteredCoaches() {
			const coaches = this.$store.getters['coaches/coaches']

			return coaches.filter(coach => {
				if(this.activeFilters.frontend && coach.areas.includes('frontend')) {
					return true
				}
				if(this.activeFilters.backend && coach.areas.includes('backend')) {
					return true
				}
				if(this.activeFilters.career && coach.areas.includes('career')) {
					return true
				}

				return false
			})
		},
		hasCoaches() {
			return !this.isLoading && this.$store.getters['coaches/hasCoaches']
		}
	},
	methods: {
		setFilters(updatedFilters) {
			this.activeFilters = updatedFilters
		},
		async loadCoaches(refresh = false) {
			this.isLoading = true

			try {
				await this.$store.dispatch('coaches/loadCoaches', {
					forceRefresh: refresh
				}) //dispatch returns a promise
			} catch(error) {
				this.error = error.message || 'Something went wrong!'
			}
			
			this.isLoading = false
		},
		handleError() {
			this.error = null
		}
	},
	created() {
		this.loadCoaches()
	}
}
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>